In [7]:
import pandas as pd
from pathlib import Path

In [8]:
Data = Path ("Resources/FoodEnvironmentAtlas.xls")

In [9]:
Data_health = pd.read_excel(Data, sheet_name = "HEALTH")
Data_health.head()

,FIPS,State,County,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS12,PCT_OBESE_ADULTS17,PCT_HSPA17,RECFAC11,RECFAC16,PCH_RECFAC_11_16,RECFACPTH11,RECFACPTH16,PCH_RECFACPTH_11_16
0,1001,AL,Autauga,11.4,13.0,33.0,36.3,NaN,4,6,50.000000,0.072465,0.108542,49.785629
1,1003,AL,Baldwin,9.8,10.4,33.0,36.3,NaN,16,21,31.250000,0.085775,0.101200,17.983256
2,1005,AL,Barbour,13.6,18.4,33.0,36.3,NaN,2,0,-100.000000,0.073123,0.000000,-100.000000
3,1007,AL,Bibb,11.1,14.8,33.0,36.3,NaN,0,1,NaN,0.000000,0.044183,NaN
4,1009,AL,Blount,11.4,14.1,33.0,36.3,NaN,3,4,33.333333,0.052118,0.069490,33.333333

In [10]:
Data_socio = pd.read_excel(Data, sheet_name = "SOCIOECONOMIC")
Data_socio.head()

,FIPS,State,County,PCT_NHWHITE10,PCT_NHBLACK10,PCT_HISP10,PCT_NHASIAN10,PCT_NHNA10,PCT_NHPI10,PCT_65OLDER10,PCT_18YOUNGER10,MEDHHINC15,POVRATE15,PERPOV10,CHILDPOVRATE15,PERCHLDPOV10,METRO13,POPLOSS10
0,1001,AL,Autauga,77.246156,17.582599,2.400542,0.855766,0.397647,0.040314,11.995382,26.777959,56580.0,12.7,0,18.8,0,1,0.0
1,1003,AL,Baldwin,83.504787,9.308425,4.384824,0.735193,0.628755,0.043343,16.771185,22.987408,52387.0,12.9,0,19.6,0,1,0.0
2,1005,AL,Barbour,46.753105,46.691190,5.051535,0.389700,0.218524,0.087409,14.236807,21.906982,31433.0,32.0,1,45.2,1,0,0.0
3,1007,AL,Bibb,75.020729,21.924504,1.771765,0.096007,0.279293,0.030548,12.681650,22.696923,40767.0,22.2,0,29.3,1,1,0.0
4,1009,AL,Blount,88.887338,1.263040,8.070200,0.200621,0.497191,0.031402,14.722096,24.608353,50487.0,14.7,0,22.2,0,1,0.0

In [11]:
Data_rest = pd.read_excel(Data, sheet_name = "RESTAURANTS")
Data_rest.head()

,FIPS,State,County,FFR11,FFR16,PCH_FFR_11_16,FFRPTH11,FFRPTH16,PCH_FFRPTH_11_16,FSR11,FSR16,PCH_FSR_11_16,FSRPTH11,FSRPTH16,PCH_FSRPTH_11_16,PC_FFRSALES07,PC_FFRSALES12,PC_FSRSALES07,PC_FSRSALES12
0,1001,AL,Autauga,34,44,29.411765,0.615953,0.795977,29.226817,32,31,-3.125000,0.579721,0.560802,-3.263448,649.511367,674.80272,484.381507,512.280987
1,1003,AL,Baldwin,121,156,28.925620,0.648675,0.751775,15.893824,216,236,9.259259,1.157966,1.137300,-1.784662,649.511367,674.80272,484.381507,512.280987
2,1005,AL,Barbour,19,23,21.052632,0.694673,0.892372,28.459320,17,14,-17.647059,0.621549,0.543183,-12.608237,649.511367,674.80272,484.381507,512.280987
3,1007,AL,Bibb,6,7,16.666667,0.263794,0.309283,17.243995,5,7,40.000000,0.219829,0.309283,40.692794,649.511367,674.80272,484.381507,512.280987
4,1009,AL,Blount,20,23,15.000000,0.347451,0.399569,15.000000,15,12,-20.000000,0.260589,0.208471,-20.000000,649.511367,674.80272,484.381507,512.280987

In [12]:
df_merg1 = pd.merge(Data_health, Data_socio, on = "FIPS")
df_merg1

,FIPS,State_x,County_x,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS12,PCT_OBESE_ADULTS17,PCT_HSPA17,RECFAC11,RECFAC16,...,PCT_NHPI10,PCT_65OLDER10,PCT_18YOUNGER10,MEDHHINC15,POVRATE15,PERPOV10,CHILDPOVRATE15,PERCHLDPOV10,METRO13,POPLOSS10
0,1001,AL,Autauga,11.4,13.0,33.0,36.3,NaN,4,6,...,0.040314,11.995382,26.777959,56580.0,12.7,0,18.8,0,1,0.0
1,1003,AL,Baldwin,9.8,10.4,33.0,36.3,NaN,16,21,...,0.043343,16.771185,22.987408,52387.0,12.9,0,19.6,0,1,0.0
2,1005,AL,Barbour,13.6,18.4,33.0,36.3,NaN,2,0,...,0.087409,14.236807,21.906982,31433.0,32.0,1,45.2,1,0,0.0
3,1007,AL,Bibb,11.1,14.8,33.0,36.3,NaN,0,1,...,0.030548,12.681650,22.696923,40767.0,22.2,0,29.3,1,1,0.0
4,1009,AL,Blount,11.4,14.1,33.0,36.3,NaN,3,4,...,0.031402,14.722096,24.608353,50487.0,14.7,0,22.2,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Sweetwater,6.8,8.1,24.6,28.8,NaN,4,6,...,0.093594,8.316212,27.094462,71867.0,8.5,0,10.2,0,0,0.0
3139,56039,WY,Teton,4.1,4.8,24.6,28.8,NaN,9,13,...,0.061050,9.852541,19.141542,83290.0,6.6,0,7.6,0,0,0.0
3140,56041,WY,Uinta,6.3,9.0,24.6,28.8,NaN,3,2,...,0.161000,8.873946,30.168577,62968.0,9.8,0,11.9,0,0,0.0
3141,56043,WY,Washakie,10.5,12.0,24.6,28.8,NaN,1,1,...,0.011719,17.672565,25.454119,56088.0,11.2,0,15.7,0,0,0.0
3142,56045,WY,Weston,7.1,10.0,24.6,28.8,NaN,1,0,...,0.027747,15.940622,21.822974,60986.0,9.8,0,13.1,0,0,0.0

In [13]:
df_merg2 = pd.merge(df_merg1, Data_rest, on = "FIPS" )
df_merg2

,FIPS,State_x,County_x,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS12,PCT_OBESE_ADULTS17,PCT_HSPA17,RECFAC11,RECFAC16,...,FSR11,FSR16,PCH_FSR_11_16,FSRPTH11,FSRPTH16,PCH_FSRPTH_11_16,PC_FFRSALES07,PC_FFRSALES12,PC_FSRSALES07,PC_FSRSALES12
0,1001,AL,Autauga,11.4,13.0,33.0,36.3,NaN,4,6,...,32,31,-3.125000,0.579721,0.560802,-3.263448,649.511367,674.802720,484.381507,512.280987
1,1003,AL,Baldwin,9.8,10.4,33.0,36.3,NaN,16,21,...,216,236,9.259259,1.157966,1.137300,-1.784662,649.511367,674.802720,484.381507,512.280987
2,1005,AL,Barbour,13.6,18.4,33.0,36.3,NaN,2,0,...,17,14,-17.647059,0.621549,0.543183,-12.608237,649.511367,674.802720,484.381507,512.280987
3,1007,AL,Bibb,11.1,14.8,33.0,36.3,NaN,0,1,...,5,7,40.000000,0.219829,0.309283,40.692794,649.511367,674.802720,484.381507,512.280987
4,1009,AL,Blount,11.4,14.1,33.0,36.3,NaN,3,4,...,15,12,-20.000000,0.260589,0.208471,-20.000000,649.511367,674.802720,484.381507,512.280987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Sweetwater,6.8,8.1,24.6,28.8,NaN,4,6,...,33,32,-3.030303,0.749778,0.723246,-3.538767,656.208610,598.027144,715.635645,706.676425
3139,56039,WY,Teton,4.1,4.8,24.6,28.8,NaN,9,13,...,57,59,3.508772,2.654126,2.545298,-4.100328,656.208610,598.027144,715.635645,706.676425
3140,56041,WY,Uinta,6.3,9.0,24.6,28.8,NaN,3,2,...,25,19,-24.000000,1.196229,0.917387,-23.310125,656.208610,598.027144,715.635645,706.676425
3141,56043,WY,Washakie,10.5,12.0,24.6,28.8,NaN,1,1,...,14,12,-14.285714,1.654846,1.465559,-11.438342,656.208610,598.027144,715.635645,706.676425
3142,56045,WY,Weston,7.1,10.0,24.6,28.8,NaN,1,0,...,11,10,-9.090909,1.540401,1.389275,-9.810806,656.208610,598.027144,715.635645,706.676425

In [16]:
print(df_merg2.columns)

Index(['FIPS', 'State_x', 'County_x', 'PCT_DIABETES_ADULTS08',
       'PCT_DIABETES_ADULTS13', 'PCT_OBESE_ADULTS12', 'PCT_OBESE_ADULTS17',
       'PCT_HSPA17', 'RECFAC11', 'RECFAC16', 'PCH_RECFAC_11_16', 'RECFACPTH11',
       'RECFACPTH16', 'PCH_RECFACPTH_11_16', 'State_y', 'County_y',
       'PCT_NHWHITE10', 'PCT_NHBLACK10', 'PCT_HISP10', 'PCT_NHASIAN10',
       'PCT_NHNA10', 'PCT_NHPI10', 'PCT_65OLDER10', 'PCT_18YOUNGER10',
       'MEDHHINC15', 'POVRATE15', 'PERPOV10', 'CHILDPOVRATE15', 'PERCHLDPOV10',
       'METRO13', 'POPLOSS10', 'State', 'County', 'FFR11', 'FFR16',
       'PCH_FFR_11_16', 'FFRPTH11', 'FFRPTH16', 'PCH_FFRPTH_11_16', 'FSR11',
       'FSR16', 'PCH_FSR_11_16', 'FSRPTH11', 'FSRPTH16', 'PCH_FSRPTH_11_16',
       'PC_FFRSALES07', 'PC_FFRSALES12', 'PC_FSRSALES07', 'PC_FSRSALES12'],
      dtype='object')

In [22]:
del df_merg2["State_y"]
del df_merg2["County_y"]
del df_merg2["State"]
del df_merg2["County"]
df_merg2.columns

Index(['FIPS', 'State_x', 'County_x', 'PCT_DIABETES_ADULTS08',
       'PCT_DIABETES_ADULTS13', 'PCT_OBESE_ADULTS12', 'PCT_OBESE_ADULTS17',
       'PCT_HSPA17', 'RECFAC11', 'RECFAC16', 'PCH_RECFAC_11_16', 'RECFACPTH11',
       'RECFACPTH16', 'PCH_RECFACPTH_11_16', 'PCT_NHWHITE10', 'PCT_NHBLACK10',
       'PCT_HISP10', 'PCT_NHASIAN10', 'PCT_NHNA10', 'PCT_NHPI10',
       'PCT_65OLDER10', 'PCT_18YOUNGER10', 'MEDHHINC15', 'POVRATE15',
       'PERPOV10', 'CHILDPOVRATE15', 'PERCHLDPOV10', 'METRO13', 'POPLOSS10',
       'FFR11', 'FFR16', 'PCH_FFR_11_16', 'FFRPTH11', 'FFRPTH16',
       'PCH_FFRPTH_11_16', 'FSR11', 'FSR16', 'PCH_FSR_11_16', 'FSRPTH11',
       'FSRPTH16', 'PCH_FSRPTH_11_16', 'PC_FFRSALES07', 'PC_FFRSALES12',
       'PC_FSRSALES07', 'PC_FSRSALES12'],
      dtype='object')

In [26]:
df_renamed = df_merg2.rename(columns={
    "State_x": "State", 
    "County_x": "County", 
    "PCT_DIABETES_ADULTS08": "DIABETES_08(%)",
    "PCT_DIABETES_ADULTS13": "DIABETES_13(%)",
    "PCT_OBESE_ADULTS12": "OBESE_12(%)",
    "PCT_OBESE_ADULTS17": "OBESE_17(%)",
    "PCT_HSPA17": "PHYSICALLY_ACT_17(%)",
    "RECFAC11": "GYMS_11",
    "RECFAC16": "GYMS_16",
    "PCH_RECFAC_11_16": "GYMS_11_16_(%)",
    "RECFACPTH11": "GYMS_POP_11",
    "RECFACPTH16": "GYMS_POP_16",
    "PCH_RECFACPTH_11_16": "GYMS_POP_11_16(%)",
    "PCT_NHWHITE10": "WHITEPPL_10(%)",
    "PCT_NHBLACK10": "BLACKPPL_10(%)",
    "PCT_HISP10": "HISPPPL_10(%)",
    "PCT_NHASIAN10": "ASIANPPL_10(%)",
    "PCT_NHNA10": "AMERI_INDPPL_10(%)",
    "PCT_NHPI10": "HAWAIIANPPL_10(%)",
    "PCT_65OLDER10": "OVER65_PPL_10(%)",
    "PCT_18YOUNGER10": "UNDER18_PPL_10(%)",
    "MEDHHINC15": "MEDIAN_HOUSEHOLD_INCOME_15",
    "POVRATE15": "POVERTY_RATE_15(%)",
    "PERPOV10": "PERSISTENT_POVERTY_COUNTIES_10",
    "CHILDPOVRATE15": "CHILD_POVERTY_RATE_15(%)",
    "PERCHLDPOV10": "PERSISTENT_CHILD_POVERTY_COUNTIES_10",
    "METRO13": "METROPOLITAN_COUNTIES_13",
    "POPLOSS10": "POPULATION_LOSS_COUNTIES_10",
    "FFR11": "FAST_FOOD_RESTAURANTS_11",
    "FFR16": "FAST_FOOD_RESTAURANTS_16",
    "PCH_FFR_11_16": "FAST_FOOD_RESTAURANTS_11_16(%)",
    "FFRPTH11": "FAST_FOOD_RESTAURANT_POP_11",
    "FFRPTH16": "FAST_FOOD_RESTAURANT_POP_16",
    "PCH_FSRPTH_11_16": "FAST_FOOD_RESTAURANT_POP_11_16(%)",
    "FSR11": "FULL_SERVICE_RESTAURANTS_11",
    "FSR16": "FULL_SERVICE_RESTAURANTS_16",
    "PCH_FSR_11_16": "FULL_SERVICE_RESTAURANTS_11_16(%)",
    "FSRPTH11": "FULL_SERVICE_RESTAURANTS_POP_11",
    "FSRPTH16": "FULL_SERVICE_RESTAURANTS_POP_16",
    "PCH_FSRPTH_11_16": "FULL_SERVICE_RESTAURANTS_POP_11_16(%)",
    "PC_FFRSALES07": "EXPENDITURES_PPC_FAST_FOOD_07",
    "PC_FFRSALES12": "EXPENDITURES_PPC_FAST_FOOD_12",
    "PC_FSRSALES07": "EXPENDITURES_PPC_RESTAURANTS_07",
    "PC_FSRSALES12": "EXPENDITURES_PPC_RESTAURANTS_12"
})
df_renamed.head()

,FIPS,State,County,DIABETES_08(%),DIABETES_13(%),OBESE_12(%),OBESE_17(%),PHYSICALLY_ACT_17(%),GYMS_11,GYMS_16,...,FULL_SERVICE_RESTAURANTS_11,FULL_SERVICE_RESTAURANTS_16,FULL_SERVICE_RESTAURANTS_11_16(%),FULL_SERVICE_RESTAURANTS_POP_11,FULL_SERVICE_RESTAURANTS_POP_16,FULL_SERVICE_RESTAURANTS_POP_11_16(%),EXPENDITURES_PPC_FAST_FOOD_07,EXPENDITURES_PPC_FAST_FOOD_12,EXPENDITURES_PPC_RESTAURANTS_07,EXPENDITURES_PPC_RESTAURANTS_12
0,1001,AL,Autauga,11.4,13.0,33.0,36.3,NaN,4,6,...,32,31,-3.125000,0.579721,0.560802,-3.263448,649.511367,674.80272,484.381507,512.280987
1,1003,AL,Baldwin,9.8,10.4,33.0,36.3,NaN,16,21,...,216,236,9.259259,1.157966,1.137300,-1.784662,649.511367,674.80272,484.381507,512.280987
2,1005,AL,Barbour,13.6,18.4,33.0,36.3,NaN,2,0,...,17,14,-17.647059,0.621549,0.543183,-12.608237,649.511367,674.80272,484.381507,512.280987
3,1007,AL,Bibb,11.1,14.8,33.0,36.3,NaN,0,1,...,5,7,40.000000,0.219829,0.309283,40.692794,649.511367,674.80272,484.381507,512.280987
4,1009,AL,Blount,11.4,14.1,33.0,36.3,NaN,3,4,...,15,12,-20.000000,0.260589,0.208471,-20.000000,649.511367,674.80272,484.381507,512.280987